{"openapi":"3.1.0","info":{"title":"ro-app-public-api-v2","version":"2.0"},"servers":[{"url":"https://api.roapp.io/v2"}],"components":{"securitySchemes":{"sec0":{"type":"oauth2","flows":{}}}},"security":[{"sec0":[]}],"paths":{"/tasks":{"get":{"summary":"Get Tasks","description":"","operationId":"get-tasks","parameters":[{"name":"page","in":"query","description":"Page number","schema":{"type":"integer","format":"int32"}},{"name":"sort_dir","in":"query","description":"Sorting direction","schema":{"type":"string","enum":["asc","desc"]}},{"name":"author_ids[]","in":"query","description":"List of Employee IDs","schema":{"type":"array","items":{"type":"integer","format":"int32"}}},{"name":"assignee_ids[]","in":"query","description":"List of Employee IDs","schema":{"type":"array","items":{"type":"integer","format":"int32"}}},{"name":"deadline_at[]","in":"query","description":"Filter by the Task Deadline date. An array of one or two values that contain a timestamp. If the array consists of one value, then it is the left border. Examples: [0, 1454277600000], [1454277500000].","schema":{"type":"array","items":{"type":"string","format":"date-time"}}}],"responses":{"200":{"description":"200","content":{"application/json":{"examples":{"Result":{"value":"{}"}},"schema":{"type":"object","properties":{}}}}},"400":{"description":"400","content":{"application/json":{"examples":{"Result":{"value":"{}"}},"schema":{"type":"object","properties":{}}}}}},"deprecated":false},"post":{"summary":"Create Task","description":"","operationId":"create-tasks","requestBody":{"content":{"application/json":{"schema":{"type":"object","required":["title","deadline","assignees"],"properties":{"title":{"type":"string","description":"Title"},"description":{"type":"string","description":"Description"},"deadline":{"type":"string","description":"Task Due Date","format":"date-time"},"assignees":{"type":"array","description":"Array of Employee IDs","items":{"type":"integer","format":"int32"}},"rel_obj":{"type":"object","description":"Related Object","properties":{"id":{"type":"integer","description":"Object ID","format":"int32"},"type":{"type":"integer","description":"Object Type (2=Order, 3=Lead, 4=Client, 6=Task, 9=Invoice)","format":"int32"}}}}}}}},"responses":{"200":{"description":"200","content":{"application/json":{"examples":{"Result":{"value":"{}"}},"schema":{"type":"object","properties":{}}}}},"400":{"description":"400","content":{"application/json":{"examples":{"Result":{"value":"{}"}},"schema":{"type":"object","properties":{}}}}}},"deprecated":false}},"/tasks/{task_id}":{"get":{"summary":"Get Task by ID","description":"","operationId":"get-tasks-by-id","parameters":[{"name":"task_id","in":"path","description":"Task ID","schema":{"type":"integer","format":"int32"},"required":true}],"responses":{"200":{"description":"200","content":{"application/json":{"examples":{"Result":{"value":"{}"}},"schema":{"type":"object","properties":{}}}}},"400":{"description":"400","content":{"application/json":{"examples":{"Result":{"value":"{}"}},"schema":{"type":"object","properties":{}}}}}},"deprecated":false},"put":{"summary":"Update Task","description":"","operationId":"update-task","parameters":[{"name":"task_id","in":"path","description":"Task ID","schema":{"type":"integer","format":"int32"},"required":true}],"requestBody":{"content":{"application/json":{"schema":{"type":"object","required":["title","deadline","assignees"],"properties":{"title":{"type":"string","description":"Title"},"description":{"type":"string","description":"Description"},"deadline":{"type":"string","description":"Task Due Date","format":"date-time"},"assignees":{"type":"array","description":"Array of Employee IDs","items":{"type":"integer","format":"int32"}},"rel_obj":{"type":"object","description":"Related Object","properties":{"id":{"type":"integer","description":"Object ID","format":"int32"},"type":{"type":"integer","description":"Object Type (2=Order, 3=Lead, 4=Client, 6=Task, 9=Invoice)","format":"int32"}}}}}}}},"responses":{"200":{"description":"200","content":{"application/json":{"examples":{"Result":{"value":"{}"}},"schema":{"type":"object","properties":{}}}}},"400":{"description":"400","content":{"application/json":{"examples":{"Result":{"value":"{}"}},"schema":{"type":"object","properties":{}}}}}},"deprecated":false}},"/tasks/{task_id}/close":{"post":{"summary":"Close Task","description":"","operationId":"close-task","parameters":[{"name":"task_id","in":"path","description":"Task ID","schema":{"type":"integer","format":"int32"},"required":true}],"responses":{"200":{"description":"200","content":{"application/json":{"examples":{"Result":{"value":"{}"}},"schema":{"type":"object","properties":{}}}}},"400":{"description":"400","content":{"application/json":{"examples":{"Result":{"value":"{}"}},"schema":{"type":"object","properties":{}}}}}},"deprecated":false}},"/tasks/{task_id}/reopen":{"post":{"summary":"Reopen Task","description":"","operationId":"reopen-task","parameters":[{"name":"task_id","in":"path","description":"Task ID","schema":{"type":"integer","format":"int32"},"required":true}],"responses":{"200":{"description":"200","content":{"application/json":{"examples":{"Result":{"value":"{}"}},"schema":{"type":"object","properties":{}}}}},"400":{"description":"400","content":{"application/json":{"examples":{"Result":{"value":"{}"}},"schema":{"type":"object","properties":{}}}}}},"deprecated":false}},"/tasks/{task_id}/comments":{"post":{"summary":"Create Comment on Task","description":"","operationId":"comment-on-task","parameters":[{"name":"task_id","in":"path","description":"Task ID","schema":{"type":"integer","format":"int32"},"required":true}],"requestBody":{"content":{"application/json":{"schema":{"type":"object","required":["message"],"properties":{"is_private":{"type":"boolean","description":"Is comment private?"},"message":{"type":"string","description":"Comment text"}}}}}},"responses":{"204":{"description":"204","content":{"application/json":{"examples":{"Result":{"value":"{}"}},"schema":{"type":"object","properties":{}}}}},"400":{"description":"400","content":{"application/json":{"examples":{"Result":{"value":"{}"}},"schema":{"type":"object","properties":{}}}}}},"deprecated":false}},"/statuses/leads":{"get":{"summary":"Get Inquiry Statuses","description":"Returns a list of lead statuses.","operationId":"get-lead-statuses","responses":{"200":{"description":"200","content":{"application/json":{"examples":{"Result":{"value":"{}"}},"schema":{"type":"object","properties":{}}}}},"400":{"description":"400","content":{"application/json":{"examples":{"Result":{"value":"{}"}},"schema":{"type":"object","properties":{}}}}}},"deprecated":false}},"/lead/types/":{"get":{"summary":"Get Inquiry Types","description":"Get the list of inquiry types.","operationId":"get-lead-types","responses":{"200":{"description":"200","content":{"application/json":{"examples":{"Result":{"value":"{\n  \"data\": [\n    {\n      \"id\": 4,\n      \"name\": \"One\"\n    },\n    {\n      \"id\": 5,\n      \"name\": \"Two\"\n    },\n    {\n      \"id\": 6,\n      \"name\": \"Three\"\n    },\n    {\n      \"id\": 7,\n      \"name\": \"Four\"\n    }\n  ],\n  \"count\": 4,\n  \"success\": true\n}"}},"schema":{"type":"object","properties":{"data":{"type":"array","items":{"type":"object","properties":{"id":{"type":"integer","example":4,"default":0},"name":{"type":"string","example":"One"}}}},"count":{"type":"integer","example":4,"default":0},"success":{"type":"boolean","example":true,"default":true}}}}}},"400":{"description":"400","content":{"application/json":{"examples":{"Result":{"value":"{}"}},"schema":{"type":"object","properties":{}}}}}},"deprecated":false}},"/lead/custom-fields/":{"get":{"summary":"Get Inquiry Custom Fields","description":"Returns a list of lead custom fields.","operationId":"get-lead-custom-fields","parameters":[{"name":"leadtype_id","in":"query","description":"Specific inquiry type ID","schema":{"type":"integer","format":"int32"}}],"responses":{"200":{"description":"200","content":{"application/json":{"examples":{"Result":{"value":"{\n  \"data\": [\n    {\n      \"id\": 6326298,\n      \"name\": \"Number test\",\n      \"type\": 6\n    },\n    {\n      \"id\": 3598280,\n      \"name\": \"Пол\",\n      \"type\": 3\n    },\n    {\n      \"id\": 6072189,\n      \"name\": \"data test\",\n      \"type\": 5\n    },\n    {\n      \"id\": 5396374,\n      \"name\": \"test\",\n      \"type\": 4\n    }\n  ],\n  \"count\": 4,\n  \"success\": true\n}"}},"schema":{"type":"object","properties":{"data":{"type":"array","items":{"type":"object","properties":{"id":{"type":"integer","example":6326298,"default":0},"name":{"type":"string","example":"Number test"},"type":{"type":"integer","example":6,"default":0}}}},"count":{"type":"integer","example":4,"default":0},"success":{"type":"boolean","example":true,"default":true}}}}}},"400":{"description":"400","content":{"application/json":{"examples":{"Result":{"value":"{}"}},"schema":{"type":"object","properties":{}}}}}},"deprecated":false}},"/lead/":{"get":{"summary":"Get Inquiries","description":"Get the list of inquiries.","operationId":"get-leads","parameters":[{"name":"ids[]","in":"query","description":"List of Inquiry IDs","schema":{"type":"array","items":{"type":"integer","format":"int32"}}},{"name":"id_labels[]","in":"query","description":"Array of Inquiry document numbers","schema":{"type":"array","items":{"type":"string"}}},{"name":"statuses[]","in":"query","description":"Array of Inquiry Status IDs","schema":{"type":"array","items":{"type":"integer","format":"int32"}}},{"name":"managers[]","in":"query","description":"Array of Employee IDs","schema":{"type":"array","items":{"type":"integer","format":"int32"}}},{"name":"names[]","in":"query","description":"List of client names","schema":{"type":"array","items":{"type":"string"}}},{"name":"phones[]","in":"query","description":"List of Client phone numbers","schema":{"type":"array","items":{"type":"string"}}},{"name":"created_at[]","in":"query","description":"Filter by date of creation of inquiries. An array of one or two values that contain a timestamp. If the array consists of one value, then it is the left border. Examples: [0, 1454277600000], [1454277500000].","schema":{"type":"array","items":{"type":"integer","format":"int64"}}},{"name":"modified_at[]","in":"query","description":"Filter by date of modification of inquiries. An array of one or two values that contain a timestamp. If the array consists of one value, then it is the left border. Examples: [0, 1454277600000], [1454277500000].","schema":{"type":"array","items":{"type":"integer","format":"int64"}}},{"name":"closed_at[]","in":"query","description":"Filter by date of closing of inquiries. An array of one or two values that contain a timestamp. If the array consists of one value, then it is the left border. Examples: [0, 1454277600000], [1454277500000].","schema":{"type":"array","items":{"type":"integer","format":"int64"}}},{"name":"page","in":"query","schema":{"type":"integer","format":"int32","default":1}}],"responses":{"200":{"description":"200","content":{"application/json":{"examples":{"Result":{"value":"{}"}},"schema":{"type":"object","properties":{}}}}},"400":{"description":"400","content":{"application/json":{"examples":{"Result":{"value":"{}"}},"schema":{"type":"object","properties":{}}}}}},"deprecated":false},"post":{"summary":"Create Inquiry","description":"Create new Inquiry. Parameters client_id or contact_phone + contact_name are required.","operationId":"create-lead","requestBody":{"content":{"application/json":{"schema":{"type":"object","required":["leadtype_id"],"properties":{"client_id":{"type":"integer","description":"Client ID","format":"int32"},"contact_phone":{"type":"string","description":"Inquiry contact number must be set with contact_name if client_id is absent"},"contact_name":{"type":"string","description":"Inquiry contact name"},"leadtype_id":{"type":"integer","description":"Inquiry type ID","format":"int32"},"is_juridical":{"type":"boolean","description":"Does a inquiry contact is a legal entity"},"branch_id":{"type":"integer","description":"Location ID","format":"int32"},"manager_id":{"type":"integer","description":"Responsible manager ID","format":"int32"},"description":{"type":"string","description":"Inquiry description"},"ad_campaign_id":{"type":"integer","description":"Advertising campaign ID","format":"int32"},"is_urgent":{"type":"boolean","description":"If this Inquiry is urgent"},"custom_fields":{"type":"string","description":"pairs id: value","format":"json"}}}}}},"responses":{"200":{"description":"200","content":{"application/json":{"examples":{"Result":{"value":"{\n  \"data\": \n    {\n      \"id\": 75\n    }\n ,\n  \"success\": true\n}"}},"schema":{"type":"object","properties":{"data":{"type":"object","properties":{"id":{"type":"integer","example":75,"default":0}}},"success":{"type":"boolean","example":true,"default":true}}}}}},"400":{"description":"400","content":{"application/json":{"examples":{"Result":{"value":"{}"}},"schema":{"type":"object","properties":{}}}}}},"deprecated":false},"put":{"summary":"Update Inquiry","description":"Update existed lead.","operationId":"update-lead","requestBody":{"content":{"application/json":{"schema":{"type":"object","required":["lead_id","status_id"],"properties":{"lead_id":{"type":"integer","description":"Inquiry ID","format":"int32"},"status_id":{"type":"integer","description":"Status ID","format":"int32"},"client_id":{"type":"integer","description":"Client ID","format":"int32"},"contact_phone":{"type":"string","description":"Inquiry contact number"},"contact_name":{"type":"string","description":"Inquiry contact name"},"leadtype_id":{"type":"integer","description":"Inquiry type ID","format":"int32"},"is_juridical":{"type":"boolean","description":"If an inquiry contact is a legal entity"},"branch_id":{"type":"integer","description":"Location ID","format":"int32"},"manager_id":{"type":"integer","description":"Responsible manager ID","format":"int32"},"description":{"type":"string","description":"Inquiry description"},"ad_campaign_id":{"type":"integer","description":"Advertising campaign ID","format":"int32"},"is_urgent":{"type":"boolean","description":"Is this Inquiry is urgent?"},"custom_fields":{"type":"string","format":"json"}}}}}},"responses":{"200":{"description":"200","content":{"application/json":{"examples":{"Result":{"value":"{}"}},"schema":{"type":"object","properties":{}}}}},"400":{"description":"400","content":{"application/json":{"examples":{"Result":{"value":"{}"}},"schema":{"type":"object","properties":{}}}}}},"deprecated":false}},"/lead/status/":{"post":{"summary":"Change Inquiry Status","description":"Change a status of the inquiry.","operationId":"change-lead-status","requestBody":{"content":{"application/json":{"schema":{"type":"object","required":["lead_id","status_id"],"properties":{"lead_id":{"type":"integer","description":"Inquiry ID","format":"int32"},"status_id":{"type":"integer","description":"Status ID","format":"int32"}}}}}},"responses":{"200":{"description":"200","content":{"application/json":{"examples":{"Result":{"value":"{}"}},"schema":{"type":"object","properties":{}}}}},"400":{"description":"400","content":{"application/json":{"examples":{"Result":{"value":"{}"}},"schema":{"type":"object","properties":{}}}}}},"deprecated":false}},"/lead/{lead_id}/comments":{"post":{"summary":"Create Inquiry Comment","description":"","operationId":"create-comment-on-lead","parameters":[{"name":"lead_id","in":"path","description":"Inquiry ID","schema":{"type":"integer","format":"int32"},"required":true}],"requestBody":{"content":{"application/json":{"schema":{"type":"object","required":["message"],"properties":{"is_private":{"type":"boolean","description":"Is comment private?"},"message":{"type":"string","description":"Comment text"}}}}}},"responses":{"204":{"description":"204","content":{"application/json":{"examples":{"Result":{"value":"{}"}},"schema":{"type":"object","properties":{}}}}},"400":{"description":"400","content":{"application/json":{"examples":{"Result":{"value":"{}"}},"schema":{"type":"object","properties":{}}}}}},"deprecated":false}},"/company":{"get":{"summary":"Get Company Information","description":"Retrieves basic information about the company account.","operationId":"get-company","responses":{"200":{"description":"200","content":{"application/json":{"examples":{"Result":{"value":"{}"}},"schema":{"type":"object","properties":{}}}}},"400":{"description":"400","content":{"application/json":{"examples":{"Result":{"value":"{}"}},"schema":{"type":"object","properties":{}}}}}},"deprecated":false}},"/company/license":{"get":{"summary":"Get License","description":"Retrieves information about the company’s license.","operationId":"get-company-license","responses":{"200":{"description":"200","content":{"application/json":{"examples":{"Result":{"value":"{}"}},"schema":{"type":"object","properties":{}}}}},"400":{"description":"400","content":{"application/json":{"examples":{"Result":{"value":"{}"}},"schema":{"type":"object","properties":{}}}}}},"deprecated":false}},"/company/locations":{"get":{"summary":"Get Locations","description":"Retrieve list of company locations.","operationId":"get-company-locations","parameters":[{"name":"is_archived","in":"query","description":"Filters locations by archived status","schema":{"type":"boolean"}},{"name":"legal_entity_id","in":"query","description":"Legal entity ID","schema":{"type":"integer","format":"int32"}},{"name":"sort","in":"query","description":"Defines the sorting order of returned results. Use a field name to sort ascending or prefix it with a minus sign (-) to sort descending.","schema":{"type":"string","enum":["id","-id","name","-name"]}}],"responses":{"200":{"description":"200","content":{"application/json":{"examples":{"Result":{"value":"{}"}},"schema":{"type":"object","properties":{}}}}},"400":{"description":"400","content":{"application/json":{"examples":{"Result":{"value":"{}"}},"schema":{"type":"object","properties":{}}}}}},"deprecated":false}},"/company/locations/{id}":{"get":{"summary":"Get Location by ID","description":"Retrieve detailed information about a specific location.","operationId":"get-location-by-id","parameters":[{"name":"id","in":"path","description":"Location ID","schema":{"type":"integer","format":"int32"},"required":true}],"responses":{"200":{"description":"200","content":{"application/json":{"examples":{"Result":{"value":"{}"}},"schema":{"type":"object","properties":{}}}}},"400":{"description":"400","content":{"application/json":{"examples":{"Result":{"value":"{}"}},"schema":{"type":"object","properties":{}}}}}},"deprecated":false}},"/company/locations/{id}/resources":{"get":{"summary":"Get Location Resources","description":"Retrieve list of location resources.","operationId":"get-resources","parameters":[{"name":"id","in":"path","description":"Location ID","schema":{"type":"integer","format":"int32"},"required":true},{"name":"sort","in":"query","description":"Defines the sorting order of returned results. Use a field name to sort ascending or prefix it with a minus sign (-) to sort descending.","schema":{"type":"string","enum":["id","-id","name","-name"]}}],"responses":{"200":{"description":"200","content":{"application/json":{"examples":{"Result":{"value":"{}"}},"schema":{"type":"object","properties":{}}}}},"400":{"description":"400","content":{"application/json":{"examples":{"Result":{"value":"{}"}},"schema":{"type":"object","properties":{}}}}}},"deprecated":false}},"/company/employees":{"get":{"summary":"Get Employees","description":"Retrieve list of company employees.","operationId":"get-company-employees","parameters":[{"name":"sort","in":"query","description":"Defines the sorting order of returned results. Use a field name to sort ascending or prefix it with a minus sign (-) to sort descending.","schema":{"type":"string","enum":["id","-id","name","-name"]}}],"responses":{"200":{"description":"200","content":{"application/json":{"examples":{"Result":{"value":"{}"}},"schema":{"type":"object","properties":{}}}}},"400":{"description":"400","content":{"application/json":{"examples":{"Result":{"value":"{}"}},"schema":{"type":"object","properties":{}}}}}},"deprecated":false}},"/company/employees/{id}":{"get":{"summary":"Get Employee by ID","description":"Retrieve detailed information about a specific employee.","operationId":"get-employee-by-id","parameters":[{"name":"id","in":"path","description":"Employee ID","schema":{"type":"integer","format":"int32"},"required":true}],"responses":{"200":{"description":"200","content":{"application/json":{"examples":{"Result":{"value":"{}"}},"schema":{"type":"object","properties":{}}}}},"400":{"description":"400","content":{"application/json":{"examples":{"Result":{"value":"{}"}},"schema":{"type":"object","properties":{}}}}}},"deprecated":false}},"/company/legal-entities":{"get":{"summary":"Get Legal Entities","description":"Retrieve list of company legal entities.","operationId":"get-legal-entities","parameters":[{"name":"sort","in":"query","description":"Defines the sorting order of returned results. Use a field name to sort ascending or prefix it with a minus sign (-) to sort descending.","schema":{"type":"string","enum":["id","-id","name","-name"]}}],"responses":{"200":{"description":"200","content":{"application/json":{"examples":{"Result":{"value":"{}"}},"schema":{"type":"object","properties":{}}}}},"400":{"description":"400","content":{"application/json":{"examples":{"Result":{"value":"{}"}},"schema":{"type":"object","properties":{}}}}}},"deprecated":false}},"/company/legal-entities/{id}":{"get":{"summary":"Get Legal Entity by ID","description":"Retrieve detailed information about a specific legal entity.","operationId":"get-legal-entity-by-id","parameters":[{"name":"id","in":"path","description":"Legal entity ID","schema":{"type":"integer","format":"int32"},"required":true}],"responses":{"200":{"description":"200","content":{"application/json":{"examples":{"Result":{"value":"{}"}},"schema":{"type":"object","properties":{}}}}},"400":{"description":"400","content":{"application/json":{"examples":{"Result":{"value":"{}"}},"schema":{"type":"object","properties":{}}}}}},"deprecated":false}},"/company/taxes":{"get":{"summary":"Get Taxes","description":"Retrieve list of company tax rates.","operationId":"get-taxes","parameters":[{"name":"sort","in":"query","description":"Defines the sorting order of returned results. Use a field name to sort ascending or prefix it with a minus sign (-) to sort descending.","schema":{"type":"string","enum":["id","-id","name","-name"]}}],"responses":{"200":{"description":"200","content":{"application/json":{"examples":{"Result":{"value":"{}"}},"schema":{"type":"object","properties":{}}}}},"400":{"description":"400","content":{"application/json":{"examples":{"Result":{"value":"{}"}},"schema":{"type":"object","properties":{}}}}}},"deprecated":false}},"/company/directories":{"get":{"summary":"Get Directories","description":"Retrieve list of custom directories.","operationId":"get-custom-directories","responses":{"200":{"description":"200","content":{"application/json":{"examples":{"Result":{"value":"{}"}},"schema":{"type":"object","properties":{}}}}},"400":{"description":"400","content":{"application/json":{"examples":{"Result":{"value":"{}"}},"schema":{"type":"object","properties":{}}}}}},"deprecated":false}},"/company/directories/{id}/items":{"get":{"summary":"Get Directory Items","description":"Retrieve list item for specific directory.","operationId":"get-custom-directory-items","parameters":[{"name":"id","in":"path","description":"Custom Directory ID","schema":{"type":"integer","format":"int32"},"required":true},{"name":"branch_id","in":"query","description":"Location ID","schema":{"type":"integer","format":"int32"}}],"responses":{"200":{"description":"200","content":{"application/json":{"examples":{"Result":{"value":"{}"}},"schema":{"type":"object","properties":{}}}}},"400":{"description":"400","content":{"application/json":{"examples":{"Result":{"value":"{}"}},"schema":{"type":"object","properties":{}}}}}},"deprecated":false}},"/bookings":{"get":{"summary":"Get Bookings","description":"Retrieve a list of bookings.","operationId":"get-bookigs","parameters":[{"name":"page","in":"query","description":"Page number","schema":{"type":"integer","format":"int32","default":1}},{"name":"branches","in":"query","description":"List of Location IDs","schema":{"type":"array","items":{"type":"integer","format":"int32"}}},{"name":"ids","in":"query","description":"List of Booking IDs","schema":{"type":"array","items":{"type":"integer","format":"int32"}}},{"name":"statuses","in":"query","description":"Array of Booking status IDs","schema":{"type":"array","items":{"type":"integer","format":"int32"}}},{"name":"assignees","in":"query","description":"Array of employee IDs","schema":{"type":"array","items":{"type":"integer","format":"int32"}}},{"name":"clients_ids","in":"query","description":"List of client (person / organization) IDs","schema":{"type":"array","items":{"type":"integer","format":"int32"}}},{"name":"client_names","in":"query","description":"List of client (person / organization) names","schema":{"type":"array","items":{"type":"string"}}},{"name":"client_phones","in":"query","description":"List of phone numbers","schema":{"type":"array","items":{"type":"string"}}},{"name":"created_at","in":"query","description":"Filter by creation date. Accepts an array with one or two ISO 8601 date-time values. If one value is provided, it represents the start (left) boundary. If two values are provided, they define a date range (start and end). Examples: [\"2025-05-01T00:00:00Z\"] — filter from May 1, 2025 onward. [\"2025-05-01T00:00:00Z\", \"2025-05-02T00:00:00Z\"] — filter between May 1 and May 2, 2025.","schema":{"type":"array","items":{"type":"string","format":"date-time"}}},{"name":"modified_at","in":"query","description":"Filter by modification date. Accepts an array with one or two ISO 8601 date-time values. If one value is provided, it represents the start (left) boundary. If two values are provided, they define a date range (start and end). Examples: [\"2025-05-01T00:00:00Z\"] — filter from May 1, 2025 onward. [\"2025-05-01T00:00:00Z\", \"2025-05-02T00:00:00Z\"] — filter between May 1 and May 2, 2025.","schema":{"type":"array","items":{"type":"string","format":"date-time"}}},{"name":"scheduled_for","in":"query","description":"Filter by \"Scheduled from\" date and time. Accepts an array with one or two ISO 8601 date-time values. If one value is provided, it represents the start (left) boundary. If two values are provided, they define a date range (start and end). Examples: [\"2025-05-01T00:00:00Z\"] — filter from May 1, 2025 onward. [\"2025-05-01T00:00:00Z\", \"2025-05-02T00:00:00Z\"] — filter between May 1 and May 2, 2025.","schema":{"type":"array","items":{"type":"string","format":"date-time"}}},{"name":"sort","in":"query","description":"Defines the sorting order of returned results. Use a field name to sort ascending or prefix it with a minus sign (-) to sort descending.","schema":{"type":"string","enum":["id","-id","modified_at","-modified_at","scheduled_for","-scheduled_for"]}}],"responses":{"200":{"description":"200","content":{"application/json":{"examples":{"Result":{"value":"{}"}},"schema":{"type":"object","properties":{}}}}},"400":{"description":"400","content":{"application/json":{"examples":{"Result":{"value":"{}"}},"schema":{"type":"object","properties":{}}}}}},"deprecated":false},"post":{"summary":"Create Booking","description":"Create a new booking.","operationId":"create-booking","requestBody":{"content":{"application/json":{"schema":{"type":"object","required":["branch_id","assignee_id","client_id","scheduled_for","scheduled_to"],"properties":{"branch_id":{"type":"integer","description":"Location ID","format":"int32"},"assignee_id":{"type":"integer","description":"Assigned Employee ID","format":"int32"},"client_id":{"type":"integer","description":"Client (Person / Organization) ID","format":"int32"},"scheduled_for":{"type":"string","description":"\"Scheduled From\" date and time (ISO 8601)","format":"date-time"},"scheduled_to":{"type":"string","description":"\"Scheduled To\" date and time (ISO 8601)","format":"date-time"},"resource_id":{"type":"integer","description":"Resource ID","format":"int32"},"comment":{"type":"string","description":"Comment text"}}}}}},"responses":{"200":{"description":"200","content":{"application/json":{"examples":{"Result":{"value":"{}"}},"schema":{"type":"object","properties":{}}}}},"400":{"description":"400","content":{"application/json":{"examples":{"Result":{"value":"{}"}},"schema":{"type":"object","properties":{}}}}}},"deprecated":false}},"/bookings/{booking_id}":{"get":{"summary":"Get Booking by ID","description":"Retrieve detailed information about a specific booking.","operationId":"get-booking-by-id","parameters":[{"name":"booking_id","in":"path","description":"Booking ID","schema":{"type":"integer","format":"int32"},"required":true}],"responses":{"200":{"description":"200","content":{"application/json":{"examples":{"Result":{"value":"{}"}},"schema":{"type":"object","properties":{}}}}},"400":{"description":"400","content":{"application/json":{"examples":{"Result":{"value":"{}"}},"schema":{"type":"object","properties":{}}}}}},"deprecated":false},"patch":{"summary":"Update Booking","description":"Update an existing booking.","operationId":"update-booking","parameters":[{"name":"booking_id","in":"path","description":"Booking ID","schema":{"type":"integer","format":"int32"},"required":true}],"requestBody":{"content":{"application/json":{"schema":{"type":"object","properties":{"branch_id":{"type":"integer","description":"Location ID","format":"int32"},"status_id":{"type":"integer","description":"Booking status ID (1: New, 2: Confirmed, 3: Pending, 4; In progress, 5: Completed 6 - Canceled, 7: No-show)","format":"int32"},"assignee_id":{"type":"integer","description":"Assigned employee ID","format":"int32"},"client_id":{"type":"integer","description":"Client (Person / Organization) ID","format":"int32"},"scheduled_for":{"type":"string","description":"\"Scheduled From\" date and time (ISO 8601)","format":"date-time"},"scheduled_to":{"type":"string","description":"\"Scheduled To\" date and time (ISO 8601)","format":"date-time"},"resource_id":{"type":"integer","description":"Resource ID","format":"int32"},"comment":{"type":"string","description":"Comment text"}}}}}},"responses":{"200":{"description":"200","content":{"application/json":{"examples":{"Result":{"value":"{}"}},"schema":{"type":"object","properties":{}}}}},"400":{"description":"400","content":{"application/json":{"examples":{"Result":{"value":"{}"}},"schema":{"type":"object","properties":{}}}}}},"deprecated":false},"delete":{"summary":"Delete Booking","description":"Delete an existing booking.","operationId":"delete-booking","parameters":[{"name":"booking_id","in":"path","description":"Booking ID","schema":{"type":"integer","format":"int32"},"required":true}],"responses":{"200":{"description":"200","content":{"application/json":{"examples":{"Result":{"value":"{}"}},"schema":{"type":"object","properties":{}}}}},"400":{"description":"400","content":{"application/json":{"examples":{"Result":{"value":"{}"}},"schema":{"type":"object","properties":{}}}}}},"deprecated":false}},"/bookings/{booking_id}/items":{"post":{"summary":"Add Booking Item","description":"","operationId":"add-booking-item","parameters":[{"name":"booking_id","in":"path","description":"Booking ID","schema":{"type":"integer","format":"int32"},"required":true}],"requestBody":{"content":{"application/json":{"schema":{"type":"object","required":["entity_id","quantity"],"properties":{"entity_id":{"type":"integer","description":"Product or Service ID","format":"int32"},"quantity":{"type":"number","description":"Quantity","format":"float"},"price":{"type":"number","description":"Price per unit","format":"float"},"cost":{"type":"number","description":"Unit cost","format":"float"},"discount":{"type":"object","description":"Item discount object","required":["type","percentage","amount","sponsor"],"properties":{"type":{"type":"string","description":"Discount type. \"percentage\" — percent, \"value\" — absolute value.","default":"percentage","enum":["percentage","value"]},"percentage":{"type":"number","description":"Percentage value","default":0,"format":"float"},"amount":{"type":"number","default":0,"format":"float"},"sponsor":{"type":"string","description":"\"staff\" — Employee wages calculation is based on the amount after discount. This way the company discount decreases the piecework employee wages. \"company\" — Employee commissions will be calculated from amount before discount. This way the company discount won't affect the employee commissions.","default":"staff","enum":["staff","company"]}}},"warranty":{"type":"object","description":"Item warranty object","required":["period","periodUnits"],"properties":{"period":{"type":"string","description":"Warranty period","default":"0"},"periodUnits":{"type":"string","description":"Warranty unit of measure","default":"days","enum":["days","months"]}}},"tax_ids":{"type":"array","description":"Array of Tax IDs","items":{"type":"integer","format":"int32"}},"comment":{"type":"string","description":"Comment text"}}}}}},"responses":{"200":{"description":"200","content":{"application/json":{"examples":{"Result":{"value":"{}"}},"schema":{"type":"object","properties":{}}}}},"400":{"description":"400","content":{"application/json":{"examples":{"Result":{"value":"{}"}},"schema":{"type":"object","properties":{}}}}}},"deprecated":false},"get":{"summary":"Get Bookings Items","description":"Retrieve all services for a specific booking.","operationId":"get-bookings-items","responses":{"200":{"description":"200","content":{"application/json":{"examples":{"Result":{"value":"{}"}},"schema":{"type":"object","properties":{}}}}},"400":{"description":"400","content":{"application/json":{"examples":{"Result":{"value":"{}"}},"schema":{"type":"object","properties":{}}}}}},"deprecated":false,"parameters":[{"in":"path","name":"booking_id","schema":{"type":"string"},"required":true,"description":"Booking ID"}]}},"/bookings/{booking_id}/items/{item_id}":{"patch":{"summary":"Update Booking Item","description":"","operationId":"update-booking-item","parameters":[{"name":"booking_id","in":"path","description":"Booking ID","schema":{"type":"integer","format":"int32"},"required":true},{"name":"item_id","in":"path","description":"Booking Item ID","schema":{"type":"integer","format":"int32"},"required":true}],"requestBody":{"content":{"application/json":{"schema":{"type":"object","properties":{"quantity":{"type":"integer","description":"Quantity","format":"int64"},"price":{"type":"number","description":"Price per unit","format":"float"},"cost":{"type":"number","description":"Unit cost","format":"float"},"discount":{"type":"object","description":"Item discount object","required":["type","percentage","amount","sponsor"],"properties":{"type":{"type":"string","description":"Discount type. \"percentage\" — percent, \"value\" — absolute value.","default":"percentage","enum":["percentage","value"]},"percentage":{"type":"number","description":"Percentage value","default":0,"format":"float"},"amount":{"type":"number","default":0,"format":"float"},"sponsor":{"type":"string","description":"\"staff\" — Employee wages calculation is based on the amount after discount. This way the company discount decreases the piecework employee wages. \"company\" — Employee commissions will be calculated from amount before discount. This way the company discount won't affect the employee commissions.","default":"staff","enum":["staff","company"]}}},"warranty":{"type":"object","description":"Item warranty object","required":["period","periodUnits"],"properties":{"period":{"type":"string","description":"Warranty period","default":"0"},"periodUnits":{"type":"string","description":"Warranty unit of measure","default":"days","enum":["days","months"]}}},"tax_ids":{"type":"array","description":"Array of Tax ID","items":{"type":"integer","format":"int32"}},"comment":{"type":"string","description":"Comment text"}}}}}},"responses":{"200":{"description":"200","content":{"application/json":{"examples":{"Result":{"value":"{}"}},"schema":{"type":"object","properties":{}}}}},"400":{"description":"400","content":{"application/json":{"examples":{"Result":{"value":"{}"}},"schema":{"type":"object","properties":{}}}}}},"deprecated":false},"delete":{"summary":"Delete Booking Item","description":"","operationId":"delete-booking-item","parameters":[{"name":"booking_id","in":"path","description":"Booking ID","schema":{"type":"integer","format":"int32"},"required":true},{"name":"item_id","in":"path","description":"Booking Item ID","schema":{"type":"integer","format":"int32"},"required":true}],"responses":{"200":{"description":"200","content":{"application/json":{"examples":{"Result":{"value":"{}"}},"schema":{"type":"object","properties":{}}}}},"400":{"description":"400","content":{"application/json":{"examples":{"Result":{"value":"{}"}},"schema":{"type":"object","properties":{}}}}}},"deprecated":false}},"/estimates":{"get":{"summary":"Get Estimates","description":"Retrieve a list of estimates.","operationId":"get-estimates","parameters":[{"name":"page","in":"query","description":"Page number","schema":{"type":"integer","format":"int32","default":1}},{"name":"types","in":"query","description":"List of estimate type IDs","schema":{"type":"array","items":{"type":"integer","format":"int32"}}},{"name":"branches","in":"query","description":"List of location IDs","schema":{"type":"array","items":{"type":"integer","format":"int32"}}},{"name":"ids","in":"query","description":"List of estimate IDs","schema":{"type":"array","items":{"type":"integer","format":"int32"}}},{"name":"numbers","in":"query","description":"List of estimate document numbers","schema":{"type":"array","items":{"type":"string"}}},{"name":"statuses","in":"query","description":"List of estimate status IDs","schema":{"type":"array","items":{"type":"integer","format":"int32"}}},{"name":"managers","in":"query","description":"List of Employee IDs","schema":{"type":"array","items":{"type":"integer","format":"int32"}}},{"name":"clients_ids","in":"query","description":"List of client IDs","schema":{"type":"array","items":{"type":"integer","format":"int32"}}},{"name":"client_names","in":"query","description":"List of client names","schema":{"type":"array","items":{"type":"string"}}},{"name":"client_phones","in":"query","description":"List of Client phone numbers","schema":{"type":"array","items":{"type":"string"}}},{"name":"created_at","in":"query","description":"Filter by creation date. Accepts an array with one or two ISO 8601 date-time values. If one value is provided, it represents the start (left) boundary. If two values are provided, they define a date range (start and end). Examples: [\"2025-05-01T00:00:00Z\"] — filter from May 1, 2025 onward. [\"2025-05-01T00:00:00Z\", \"2025-05-02T00:00:00Z\"] — filter between May 1 and May 2, 2025.","schema":{"type":"array","items":{"type":"string","format":"date-time"}}},{"name":"modified_at","in":"query","description":"Filter by modification date. Accepts an array with one or two ISO 8601 date-time values. If one value is provided, it represents the start (left) boundary. If two values are provided, they define a date range (start and end). Examples: [\"2025-05-01T00:00:00Z\"] — filter from May 1, 2025 onward. [\"2025-05-01T00:00:00Z\", \"2025-05-02T00:00:00Z\"] — filter between May 1 and May 2, 2025.","schema":{"type":"array","items":{"type":"string","format":"date-time"}}},{"name":"scheduled_for","in":"query","description":"Filter by \"Scheduled from\" date and time. Accepts an array with one or two ISO 8601 date-time values. If one value is provided, it represents the start (left) boundary. If two values are provided, they define a date range (start and end). Examples: [\"2025-05-01T00:00:00Z\"] — filter from May 1, 2025 onward. [\"2025-05-01T00:00:00Z\", \"2025-05-02T00:00:00Z\"] — filter between May 1 and May 2, 2025.","schema":{"type":"array","items":{"type":"string","format":"date-time"}}},{"name":"due_date","in":"query","description":"Filter by Due date\" date and time. Accepts an array with one or two ISO 8601 date-time values. If one value is provided, it represents the start (left) boundary. If two values are provided, they define a date range (start and end). Examples: [\"2025-05-01T00:00:00Z\"] — filter from May 1, 2025 onward. [\"2025-05-01T00:00:00Z\", \"2025-05-02T00:00:00Z\"] — filter between May 1 and May 2, 2025.","schema":{"type":"array","items":{"type":"string","format":"date-time"}}},{"name":"sort","in":"query","description":"Defines the sorting order of returned results. Use a field name to sort ascending or prefix it with a minus sign (-) to sort descending.","schema":{"type":"string","enum":["id","-id","modified_at","-modified_at","scheduled_for","-scheduled_for","due_date","-due_date"]}}],"responses":{"200":{"description":"200","content":{"application/json":{"examples":{"Result":{"value":"{}"}},"schema":{"type":"object","properties":{}}}}},"400":{"description":"400","content":{"application/json":{"examples":{"Result":{"value":"{}"}},"schema":{"type":"object","properties":{}}}}}},"deprecated":false},"post":{"summary":"Create Estimate","description":"Create a new estimate.","operationId":"create-estimate","requestBody":{"content":{"application/json":{"schema":{"type":"object","required":["branch_id","order_type_id","client_id"],"properties":{"branch_id":{"type":"integer","description":"Location ID","format":"int32"},"order_type_id":{"type":"integer","description":"Estimate/Order Type ID","format":"int32"},"manager_id":{"type":"integer","description":"Manager ID","format":"int32"},"assignee_id":{"type":"integer","description":"Assigned Employee ID","format":"int32"},"asset_id":{"type":"integer","description":"Asset ID","format":"int32"},"client_id":{"type":"integer","description":"Client (Person / Organization) ID","format":"int32"},"payer_id":{"type":"integer","description":"Payer (Person / Organization) ID","format":"int32"},"ad_campaign_id":{"type":"integer","description":"Ad Campaign ID","format":"int32"},"scheduled_for":{"type":"string","description":"\"Scheduled From\" date and time (ISO 8601)","format":"date-time"},"scheduled_to":{"type":"string","description":"\"Scheduled To\" date and time (ISO 8601)","format":"date-time"},"resource_id":{"type":"integer","description":"Resource ID","format":"int32"},"malfunction":{"type":"string","description":"Malfunction text"},"manager_notes":{"type":"string","description":"Manager notes"},"engineer_notes":{"type":"string","description":"Technician notes"},"resume":{"type":"string","description":"Conclusion / client recommendations"},"estimated_price":{"type":"string","description":"Estimates price or price range"},"due_date":{"type":"string","description":"Estimate Due Date (ISO 8601)","format":"date-time"},"urgent":{"type":"boolean","description":"Is Estimate urgent?"},"custom_fields":{"type":"string","description":"Custom fields values in format {\"f123\": \"value\", \"f234\": \"value\"}, where \"f123\" and \"f234\" is a custom field id.","format":"json"}}}}}},"responses":{"200":{"description":"200","content":{"application/json":{"examples":{"Result":{"value":"{}"}},"schema":{"type":"object","properties":{}}}}},"400":{"description":"400","content":{"application/json":{"examples":{"Result":{"value":"{}"}},"schema":{"type":"object","properties":{}}}}}},"deprecated":false}},"/estimates/{estimate_id}":{"get":{"summary":"Get Estimate by ID","description":"Retrieve detailed information about a specific estimate.","operationId":"get-estimate-by-id","parameters":[{"name":"estimate_id","in":"path","description":"Estimate ID","schema":{"type":"integer","format":"int32"},"required":true}],"responses":{"200":{"description":"200","content":{"application/json":{"examples":{"Result":{"value":"{}"}},"schema":{"type":"object","properties":{}}}}},"400":{"description":"400","content":{"application/json":{"examples":{"Result":{"value":"{}"}},"schema":{"type":"object","properties":{}}}}}},"deprecated":false},"patch":{"summary":"Update Estimate","description":"Update an existing estimate.","operationId":"update-estimate","parameters":[{"name":"estimate_id","in":"path","description":"Estimate ID","schema":{"type":"integer","format":"int32"},"required":true}],"requestBody":{"content":{"application/json":{"schema":{"type":"object","properties":{"branch_id":{"type":"string","description":"Location ID"},"order_type_id":{"type":"integer","description":"Estimate/Order Type ID","format":"int32"},"manager_id":{"type":"integer","description":"Manager ID","format":"int32"},"assignee_id":{"type":"integer","description":"Assigned Employee ID","format":"int32"},"asset_id":{"type":"integer","description":"Asset ID","format":"int32"},"client_id":{"type":"integer","description":"Client (Person / Organization) ID","format":"int32"},"payer_id":{"type":"integer","description":"Payer (Person / Organization) ID","format":"int32"},"ad_campaign_id":{"type":"integer","description":"Ad Campaign ID","format":"int32"},"scheduled_for":{"type":"string","description":"\"Scheduled From\" date and time (ISO 8601)","format":"date-time"},"scheduled_to":{"type":"string","description":"\"Scheduled To\" date and time (ISO 8601)","format":"date-time"},"resource_id":{"type":"integer","description":"Resource ID","format":"int32"},"malfunction":{"type":"string","description":"Malfunction text"},"manager_notes":{"type":"string","description":"Manager notes"},"engineer_notes":{"type":"string","description":"Technician notes"},"resume":{"type":"string","description":"Conclusion / client recommendations"},"estimated_price":{"type":"string","description":"Estimates price or price range"},"due_date":{"type":"string","description":"Estimate Due Date (ISO 8601)","format":"date-time"},"urgent":{"type":"boolean","description":"Is Estimate urgent?"},"custom_fields":{"type":"string","description":"Custom fields values in format {\"f123\": \"value\", \"f234\": \"value\"}, where \"f123\" and \"f234\" is a custom field id.","format":"json"}}}}}},"responses":{"200":{"description":"200","content":{"application/json":{"examples":{"Result":{"value":"{}"}},"schema":{"type":"object","properties":{}}}}},"400":{"description":"400","content":{"application/json":{"examples":{"Result":{"value":"{}"}},"schema":{"type":"object","properties":{}}}}}},"deprecated":false}},"/estimates/{estimate_id}/items":{"get":{"summary":"Get Estimate Items","description":"Retrieve all items (products or services) listed in a specific estimate.","operationId":"get-estimate-items","parameters":[{"name":"estimate_id","in":"path","description":"Estimate ID","schema":{"type":"integer","format":"int32"},"required":true}],"responses":{"200":{"description":"200","content":{"application/json":{"examples":{"Result":{"value":"{}"}},"schema":{"type":"object","properties":{}}}}},"400":{"description":"400","content":{"application/json":{"examples":{"Result":{"value":"{}"}},"schema":{"type":"object","properties":{}}}}}},"deprecated":false},"post":{"summary":"Add Estimate Item","description":"Add a new item to the estimate.","operationId":"create-estimate-item","parameters":[{"name":"estimate_id","in":"path","description":"Estimate ID","schema":{"type":"integer","format":"int32"},"required":true}],"requestBody":{"content":{"application/json":{"schema":{"type":"object","required":["entity_id","assignee_id","quantity","price","cost","discount","warranty"],"properties":{"entity_id":{"type":"integer","description":"Product or Service ID","format":"int32"},"assignee_id":{"type":"integer","description":"Assigned Employee ID","format":"int32"},"quantity":{"type":"number","description":"Quantity","format":"float"},"price":{"type":"number","description":"Price per unit","format":"float"},"cost":{"type":"number","description":"Unit cost","format":"float"},"discount":{"type":"object","description":"Item discount object","required":["type","percentage","amount","sponsor"],"properties":{"type":{"type":"string","description":"Discount type. \"percentage\" — percent, \"value\" — absolute value.","default":"percentage","enum":["percentage","value"]},"percentage":{"type":"number","description":"Percentage value","default":0,"format":"float"},"amount":{"type":"number","default":0,"format":"float"},"sponsor":{"type":"string","description":"\"staff\" — Employee wages calculation is based on the amount after discount. This way the company discount decreases the piecework employee wages. \"company\" — Employee commissions will be calculated from amount before discount. This way the company discount won't affect the employee commissions.","default":"staff","enum":["staff","company"]}}},"warranty":{"type":"object","description":"Item warranty object","required":["period","periodUnits"],"properties":{"period":{"type":"string","description":"Warranty period","default":"0"},"periodUnits":{"type":"string","description":"Warranty unit of measure","default":"days","enum":["days","months"]}}},"tax_ids":{"type":"array","description":"Array of Tax ID","items":{"type":"integer","format":"int32"}},"comment":{"type":"string","description":"Comment text"}}}}}},"responses":{"200":{"description":"200","content":{"application/json":{"examples":{"Result":{"value":"{}"}},"schema":{"type":"object","properties":{}}}}},"400":{"description":"400","content":{"application/json":{"examples":{"Result":{"value":"{}"}},"schema":{"type":"object","properties":{}}}}}},"deprecated":false}},"/estimates/{estimate_id}/items/{item_id}":{"patch":{"summary":"Update Estimate Item","description":"Update an existing item in the estimate.","operationId":"update-estimate-item","parameters":[{"name":"estimate_id","in":"path","description":"Estimate ID","schema":{"type":"string"},"required":true},{"name":"item_id","in":"path","description":"Estimate Item ID","schema":{"type":"string"},"required":true}],"requestBody":{"content":{"application/json":{"schema":{"type":"object","properties":{"assignee_id":{"type":"integer","description":"Assigned Employee ID","format":"int32"},"quantity":{"type":"number","description":"Quantity","format":"float"},"price":{"type":"number","description":"Price per unit","format":"float"},"cost":{"type":"number","description":"Unit cost","format":"float"},"discount":{"type":"object","required":["type","percentage","amount","sponsor"],"properties":{"type":{"type":"string","description":"Discount type. \"percentage\" — percent, \"value\" — absolute value.","default":"percentage","enum":["percentage","value"]},"percentage":{"type":"number","description":"Percentage value","default":0,"format":"float"},"amount":{"type":"number","default":0,"format":"float"},"sponsor":{"type":"string","description":"\"staff\" — Employee wages calculation is based on the amount after discount. This way the company discount decreases the piecework employee wages. \"company\" — Employee commissions will be calculated from amount before discount. This way the company discount won't affect the employee commissions.","default":"staff","enum":["staff","company"]}}},"warranty":{"type":"object","required":["period","periodUnits"],"properties":{"period":{"type":"string","description":"Warranty period","default":"0"},"periodUnits":{"type":"string","description":"Warranty unit of measure","default":"days","enum":["days","months"]}}},"tax_ids":{"type":"array","description":"Array of Tax ID","items":{"type":"integer","format":"int32"}},"comment":{"type":"string","description":"Comment text"}}}}}},"responses":{"200":{"description":"200","content":{"application/json":{"examples":{"Result":{"value":"{}"}},"schema":{"type":"object","properties":{}}}}},"400":{"description":"400","content":{"application/json":{"examples":{"Result":{"value":"{}"}},"schema":{"type":"object","properties":{}}}}}},"deprecated":false}},"/estimates/{estimate_id}/status":{"post":{"summary":"Change Estimate Status","description":"Update the status of a specific estimate.","operationId":"change-estimate-status","parameters":[{"name":"estimate_id","in":"path","description":"Estimate ID","schema":{"type":"integer","format":"int32"},"required":true}],"requestBody":{"content":{"application/json":{"schema":{"type":"object","required":["status_id"],"properties":{"status_id":{"type":"integer","description":"Status Id","format":"int32"},"comment":{"type":"string","description":"Status comment"}}}}}},"responses":{"200":{"description":"200","content":{"application/json":{"examples":{"Result":{"value":"{}"}},"schema":{"type":"object","properties":{}}}}},"400":{"description":"400","content":{"application/json":{"examples":{"Result":{"value":"{}"}},"schema":{"type":"object","properties":{}}}}}},"deprecated":false}},"/estimates/{estimate_id}/comments":{"post":{"summary":"Create Estimate Comment","description":"Add a comment to a specific estimate.","operationId":"create-estimate-comment","parameters":[{"name":"estimate_id","in":"path","description":"Estimate ID","schema":{"type":"integer","format":"int32"},"required":true}],"requestBody":{"content":{"application/json":{"schema":{"type":"object","required":["comment"],"properties":{"comment":{"type":"string","description":"Comment"},"is_private":{"type":"boolean","description":"Is this comment private?","default":false}}}}}},"responses":{"200":{"description":"200","content":{"application/json":{"examples":{"Result":{"value":"{}"}},"schema":{"type":"object","properties":{}}}}},"400":{"description":"400","content":{"application/json":{"examples":{"Result":{"value":"{}"}},"schema":{"type":"object","properties":{}}}}}},"deprecated":false}},"/estimates/{estimate_id}/public-url":{"get":{"summary":"Get Estimate Public Page Url","description":"Retrieve a shareable public link to view the estimate.","operationId":"get-estimate-public-page-url","parameters":[{"name":"estimate_id","in":"path","description":"Estimate ID","schema":{"type":"integer","format":"int32"},"required":true}],"responses":{"200":{"description":"200","content":{"application/json":{"examples":{"Result":{"value":"{}"}},"schema":{"type":"object","properties":{}}}}},"400":{"description":"400","content":{"application/json":{"examples":{"Result":{"value":"{}"}},"schema":{"type":"object","properties":{}}}}}},"deprecated":false}},"/estimates/statuses":{"get":{"summary":"Get Estimate Statuses","description":"Retrieve a list of all possible statuses that can be assigned to an estimate.","operationId":"get-estimate-statuses","responses":{"200":{"description":"200","content":{"application/json":{"examples":{"Result":{"value":"{}"}},"schema":{"type":"object","properties":{}}}}},"400":{"description":"400","content":{"application/json":{"examples":{"Result":{"value":"{}"}},"schema":{"type":"object","properties":{}}}}}},"deprecated":false}},"/estimates/types":{"get":{"summary":"Get Estimate Types","description":"","operationId":"get-estimates-types","responses":{"200":{"description":"200","content":{"application/json":{"examples":{"Result":{"value":"{}"}},"schema":{"type":"object","properties":{}}}}},"400":{"description":"400","content":{"application/json":{"examples":{"Result":{"value":"{}"}},"schema":{"type":"object","properties":{}}}}}},"deprecated":false}},"/estimates/custom-fields":{"get":{"summary":"Get Estimate Custom Fields","description":"","operationId":"get-estimates-custom-fields","responses":{"200":{"description":"200","content":{"application/json":{"examples":{"Result":{"value":"{}"}},"schema":{"type":"object","properties":{}}}}},"400":{"description":"400","content":{"application/json":{"examples":{"Result":{"value":"{}"}},"schema":{"type":"object","properties":{}}}}}},"deprecated":false}},"/orders":{"get":{"summary":"Get Orders","description":"Retrieve a list of orders.","operationId":"get-orders","parameters":[{"name":"page","in":"query","description":"Page number","schema":{"type":"integer","format":"int32","default":1}},{"name":"types","in":"query","description":"List of Order Type IDs (same as order types)","schema":{"type":"array","items":{"type":"integer","format":"int32"}}},{"name":"branches","in":"query","description":"List of Location IDs","schema":{"type":"array","items":{"type":"integer","format":"int32"}}},{"name":"ids","in":"query","description":"List of Order IDs","schema":{"type":"array","items":{"type":"integer","format":"int32"}}},{"name":"numbers","in":"query","description":"List of Order document numbers","schema":{"type":"array","items":{"type":"integer","format":"int32"}}},{"name":"statuses","in":"query","description":"List of Order Status IDs","schema":{"type":"array","items":{"type":"integer","format":"int32"}}},{"name":"managers","in":"query","description":"List of Employee IDs","schema":{"type":"array","items":{"type":"integer","format":"int32"}}},{"name":"clients_ids","in":"query","description":"List of Client (Person / Organization) IDs","schema":{"type":"array","items":{"type":"integer","format":"int32"}}},{"name":"client_names","in":"query","description":"List of Client (Person / Organization) names","schema":{"type":"array","items":{"type":"string"}}},{"name":"client_phones","in":"query","description":"List of phone numbers","schema":{"type":"array","items":{"type":"string"}}},{"name":"created_at","in":"query","description":"Filter by creation date. Accepts an array with one or two ISO 8601 date-time values. If one value is provided, it represents the start (left) boundary. If two values are provided, they define a date range (start and end). Examples: [\"2025-05-01T00:00:00Z\"] — filter from May 1, 2025 onward. [\"2025-05-01T00:00:00Z\", \"2025-05-02T00:00:00Z\"] — filter between May 1 and May 2, 2025.","schema":{"type":"array","items":{"type":"string","format":"date-time"}}},{"name":"modified_at","in":"query","description":"Filter by modification date. Accepts an array with one or two ISO 8601 date-time values. If one value is provided, it represents the start (left) boundary. If two values are provided, they define a date range (start and end). Examples: [\"2025-05-01T00:00:00Z\"] — filter from May 1, 2025 onward. [\"2025-05-01T00:00:00Z\", \"2025-05-02T00:00:00Z\"] — filter between May 1 and May 2, 2025.","schema":{"type":"array","items":{"type":"string","format":"date-time"}}},{"name":"scheduled_for","in":"query","description":"Filter by \"Scheduled from\" date and time. Accepts an array with one or two ISO 8601 date-time values. If one value is provided, it represents the start (left) boundary. If two values are provided, they define a date range (start and end). Examples: [\"2025-05-01T00:00:00Z\"] — filter from May 1, 2025 onward. [\"2025-05-01T00:00:00Z\", \"2025-05-02T00:00:00Z\"] — filter between May 1 and May 2, 2025.","schema":{"type":"array","items":{"type":"string","format":"date-time"}}},{"name":"due_date","in":"query","description":"Filter by due date. Accepts an array with one or two ISO 8601 date-time values. If one value is provided, it represents the start (left) boundary. If two values are provided, they define a date range (start and end). Examples: [\"2025-05-01T00:00:00Z\"] — filter from May 1, 2025 onward. [\"2025-05-01T00:00:00Z\", \"2025-05-02T00:00:00Z\"] — filter between May 1 and May 2, 2025.","schema":{"type":"array","items":{"type":"string","format":"date-time"}}},{"name":"asset_uid","in":"query","description":"List of asset serial numbers (vin, imei)","schema":{"type":"array","items":{"type":"string"}}},{"name":"sort","in":"query","description":"Defines the sorting order of returned results. Use a field name to sort ascending or prefix it with a minus sign (-) to sort descending.","schema":{"type":"string","enum":["id","-id","modified_at","-modified_at","scheduled_for","-scheduled_for","due_date","-due_date"]}}],"responses":{"200":{"description":"200","content":{"application/json":{"examples":{"Result":{"value":"{}"}},"schema":{"type":"object","properties":{}}}}},"400":{"description":"400","content":{"application/json":{"examples":{"Result":{"value":"{}"}},"schema":{"type":"object","properties":{}}}}}},"deprecated":false},"post":{"summary":"Create Order","description":"Create a new order.","operationId":"create-order","requestBody":{"content":{"application/json":{"schema":{"type":"object","required":["branch_id","order_type_id","client_id"],"properties":{"branch_id":{"type":"integer","description":"Location ID","format":"int32"},"order_type_id":{"type":"integer","description":"Estimate/Order Type ID","format":"int32"},"manager_id":{"type":"integer","description":"Manager ID","format":"int32"},"assignee_id":{"type":"integer","description":"Assigned Employee ID","format":"int32"},"asset_id":{"type":"integer","description":"Asset ID","format":"int32"},"client_id":{"type":"integer","description":"Client (Person / Organization) ID","format":"int32"},"payer_id":{"type":"integer","description":"Payer (Person / Organization) ID","format":"int32"},"ad_campaign_id":{"type":"integer","description":"Ad Campaign ID","format":"int32"},"scheduled_for":{"type":"string","description":"\"Scheduled From\" date and time (ISO 8601)","format":"date-time"},"scheduled_to":{"type":"string","description":"\"Scheduled to\" date and time (ISO 8601)","format":"date-time"},"resource_id":{"type":"integer","description":"Resource ID","format":"int32"},"malfunction":{"type":"string","description":"Malfunction text"},"manager_notes":{"type":"string","description":"Manager notes"},"engineer_notes":{"type":"string","description":"Technician notes"},"resume":{"type":"string","description":"Conclusion / client recommendations"},"estimated_price":{"type":"string","description":"Estimates price or price range"},"due_date":{"type":"string","description":"Order Due Date (ISO 8601)","format":"date-time"},"urgent":{"type":"boolean","description":"Is Order urgent?"},"custom_fields":{"type":"string","description":"Custom fields values in format {\"f123\": \"value\", \"f234\": \"value\"}, where \"f123\" and \"f234\" is a custom field id.","format":"json"}}}}}},"responses":{"200":{"description":"200","content":{"application/json":{"examples":{"Result":{"value":"{}"}},"schema":{"type":"object","properties":{}}}}},"400":{"description":"400","content":{"application/json":{"examples":{"Result":{"value":"{}"}},"schema":{"type":"object","properties":{}}}}}},"deprecated":false}},"/orders/{order_id}":{"get":{"summary":"Get Order by Id","description":"Retrieve detailed information about a specific order.","operationId":"get-order-by-id","parameters":[{"name":"order_id","in":"path","description":"Order ID","schema":{"type":"integer","format":"int32"},"required":true}],"responses":{"200":{"description":"200","content":{"application/json":{"examples":{"Result":{"value":"{}"}},"schema":{"type":"object","properties":{}}}}},"400":{"description":"400","content":{"application/json":{"examples":{"Result":{"value":"{}"}},"schema":{"type":"object","properties":{}}}}}},"deprecated":false},"patch":{"summary":"Update Order","description":"Update an existing order.","operationId":"update-order","parameters":[{"name":"order_id","in":"path","description":"Order ID","schema":{"type":"integer","format":"int32"},"required":true}],"requestBody":{"content":{"application/json":{"schema":{"type":"object","properties":{"branch_id":{"type":"integer","description":"Location ID","format":"int32"},"order_type_id":{"type":"integer","description":"Estimate/Order Type ID","format":"int32"},"manager_id":{"type":"integer","description":"Manager ID","format":"int32"},"assignee_id":{"type":"integer","description":"Assigned Employee ID","format":"int32"},"asset_id":{"type":"integer","description":"Asset ID","format":"int32"},"client_id":{"type":"integer","description":"Client (Person / Organization) ID","format":"int32"},"payer_id":{"type":"integer","description":"Payer (Person / Organization) ID","format":"int32"},"ad_campaign_id":{"type":"integer","description":"Ad Campaign ID","format":"int32"},"scheduled_for":{"type":"string","description":"\"Scheduled From\" date and time (ISO 8601)","format":"date-time"},"scheduled_to":{"type":"string","description":"\"Scheduled To\" date and time (ISO 8601)","format":"date-time"},"resource_id":{"type":"integer","description":"Resource ID","format":"int32"},"malfunction":{"type":"string","description":"Malfunction text"},"manager_notes":{"type":"string","description":"Manager notes"},"engineer_notes":{"type":"string","description":"Technician notes"},"resume":{"type":"string","description":"Conclusion / client recommendations"},"estimated_price":{"type":"string","description":"Estimates price or price range"},"due_date":{"type":"string","description":"Order Due Date (ISO 8601)","format":"date-time"},"urgent":{"type":"string","description":"Is Order urgent?"},"custom_fields":{"type":"string","description":"Custom fields values in format {\"f123\": \"value\", \"f234\": \"value\"}, where \"f123\" and \"f234\" is a custom field id.","format":"json"}}}}}},"responses":{"200":{"description":"200","content":{"application/json":{"examples":{"Result":{"value":"{}"}},"schema":{"type":"object","properties":{}}}}},"400":{"description":"400","content":{"application/json":{"examples":{"Result":{"value":"{}"}},"schema":{"type":"object","properties":{}}}}}},"deprecated":false}},"/orders/{order_id}/items":{"get":{"summary":"Get Order Items","description":"Retrieve all items (products or services) for a specific order.","operationId":"get-order-items","parameters":[{"name":"order_id","in":"path","description":"Order ID","schema":{"type":"integer","format":"int32"},"required":true}],"responses":{"200":{"description":"200","content":{"application/json":{"examples":{"Result":{"value":"[\n  {\n    \"id\": 78870627,\n    \"created_at\": \"2025-05-09T12:52:32Z\",\n    \"assignee_id\": 206039,\n    \"quantity\": \"1.000\",\n    \"price\": \"20.00\",\n    \"cost\": \"100.00000\",\n    \"margin_id\": null,\n    \"is_deduction_required\": false,\n    \"entity\": {\n      \"id\": 38527538,\n      \"type\": \"service\",\n      \"code\": \"\",\n      \"sku\": \"\",\n      \"sn_accounting\": false,\n      \"title\": \"Diagnostics\",\n      \"image\": \"\",\n      \"thumbnail\": \"\",\n      \"uom\": {\n        \"id\": 1,\n        \"title\": \"pcs\",\n        \"description\": \"Pieces\"\n      },\n      \"is_hidden\": false\n    },\n    \"comment\": \"\",\n    \"write_offs\": null,\n    \"is_refunded\": false,\n    \"discount\": {\n      \"type\": \"value\",\n      \"percentage\": 0,\n      \"amount\": \"0.00\",\n      \"sponsor\": \"staff\"\n    },\n    \"warranty\": {\n      \"period\": 2,\n      \"period_units\": \"days\"\n    },\n    \"taxes\": [\n      {\n        \"id\": 5628,\n        \"name\": \"State taxes\",\n        \"rate\": 10\n      }\n    ],\n    \"expiration_date\": null\n  },\n  {\n    \"id\": 78870628,\n    \"created_at\": \"2025-05-09T12:52:32Z\",\n    \"assignee_id\": 206039,\n    \"quantity\": \"1.000\",\n    \"price\": \"50.00\",\n    \"cost\": \"0.00000\",\n    \"margin_id\": 538042,\n    \"is_deduction_required\": false,\n    \"entity\": {\n      \"id\": 38527535,\n      \"type\": \"work\",\n      \"code\": \"\",\n      \"sku\": \"\",\n      \"sn_accounting\": false,\n      \"title\": \"Battery service \",\n      \"image\": \"\",\n      \"thumbnail\": \"\",\n      \"uom\": {\n        \"id\": 1,\n        \"title\": \"pcs\",\n        \"description\": \"Pieces\"\n      },\n      \"is_hidden\": false\n    },\n    \"comment\": \"\",\n    \"write_offs\": null,\n    \"is_refunded\": false,\n    \"discount\": {\n      \"type\": \"value\",\n      \"percentage\": 0,\n      \"amount\": \"0.00\",\n      \"sponsor\": \"staff\"\n    },\n    \"warranty\": {\n      \"period\": 0,\n      \"period_units\": \"days\"\n    },\n    \"taxes\": [\n      {\n        \"id\": 5628,\n        \"name\": \"State taxes\",\n        \"rate\": 10\n      }\n    ],\n    \"expiration_date\": null\n  },\n  {\n    \"id\": 78870629,\n    \"created_at\": \"2025-05-09T12:52:32Z\",\n    \"assignee_id\": 206039,\n    \"quantity\": \"1.000\",\n    \"price\": \"81.00\",\n    \"cost\": \"54.00000\",\n    \"margin_id\": 387006,\n    \"is_deduction_required\": false,\n    \"entity\": {\n      \"id\": 52110291,\n      \"type\": \"product\",\n      \"code\": \"\",\n      \"sku\": \"\",\n      \"sn_accounting\": false,\n      \"title\": \"original Acer keyboard\",\n      \"image\": \"\",\n      \"thumbnail\": \"\",\n      \"uom\": {\n        \"id\": 1,\n        \"title\": \"pcs\",\n        \"description\": \"Pieces\"\n      },\n      \"is_hidden\": false\n    },\n    \"comment\": \"\",\n    \"write_offs\": [\n      {\n        \"cost\": 54,\n        \"cellId\": 3679564,\n        \"goodId\": 137183962,\n        \"quantity\": 1,\n        \"sernum_id\": null,\n        \"sernum_code\": null,\n        \"warehouseId\": 3649247,\n        \"repairOrderProductId\": 78870629\n      }\n    ],\n    \"is_refunded\": false,\n    \"discount\": {\n      \"type\": \"value\",\n      \"percentage\": 0,\n      \"amount\": \"0.00\",\n      \"sponsor\": \"staff\"\n    },\n    \"warranty\": {\n      \"period\": 0,\n      \"period_units\": \"days\"\n    },\n    \"taxes\": [\n      {\n        \"id\": 5628,\n        \"name\": \"State taxes\",\n        \"rate\": 10\n      }\n    ],\n    \"expiration_date\": null\n  },\n  {\n    \"id\": 78870630,\n    \"created_at\": \"2025-05-09T12:52:32Z\",\n    \"assignee_id\": 206039,\n    \"quantity\": \"1.000\",\n    \"price\": \"69.00\",\n    \"cost\": \"46.00000\",\n    \"margin_id\": 387006,\n    \"is_deduction_required\": false,\n    \"entity\": {\n      \"id\": 52110296,\n      \"type\": \"product\",\n      \"code\": \"\",\n      \"sku\": \"\",\n      \"sn_accounting\": false,\n      \"title\": \"original Acer display-cover\",\n      \"image\": \"\",\n      \"thumbnail\": \"\",\n      \"uom\": {\n        \"id\": 1,\n        \"title\": \"pcs\",\n        \"description\": \"Pieces\"\n      },\n      \"is_hidden\": false\n    },\n    \"comment\": \"\",\n    \"write_offs\": [\n      {\n        \"cost\": 46,\n        \"cellId\": 3679564,\n        \"goodId\": 137183963,\n        \"quantity\": 1,\n        \"sernum_id\": null,\n        \"sernum_code\": null,\n        \"warehouseId\": 3649247,\n        \"repairOrderProductId\": 78870630\n      }\n    ],\n    \"is_refunded\": false,\n    \"discount\": {\n      \"type\": \"value\",\n      \"percentage\": 0,\n      \"amount\": \"0.00\",\n      \"sponsor\": \"staff\"\n    },\n    \"warranty\": {\n      \"period\": 0,\n      \"period_units\": \"days\"\n    },\n    \"taxes\": [\n      {\n        \"id\": 5628,\n        \"name\": \"State taxes\",\n        \"rate\": 10\n      }\n    ],\n    \"expiration_date\": null\n  },\n  {\n    \"id\": 78870631,\n    \"created_at\": \"2025-05-09T12:52:32Z\",\n    \"assignee_id\": 206039,\n    \"quantity\": \"1.000\",\n    \"price\": \"129.00\",\n    \"cost\": \"86.00000\",\n    \"margin_id\": 387006,\n    \"is_deduction_required\": false,\n    \"entity\": {\n      \"id\": 52110306,\n      \"type\": \"product\",\n      \"code\": \"\",\n      \"sku\": \"\",\n      \"sn_accounting\": false,\n      \"title\": \"Battery 50.29Wh original\",\n      \"image\": \"\",\n      \"thumbnail\": \"\",\n      \"uom\": {\n        \"id\": 1,\n        \"title\": \"pcs\",\n        \"description\": \"Pieces\"\n      },\n      \"is_hidden\": false\n    },\n    \"comment\": \"\",\n    \"write_offs\": [\n      {\n        \"cost\": 86,\n        \"cellId\": 3679564,\n        \"goodId\": 137183964,\n        \"quantity\": 1,\n        \"sernum_id\": null,\n        \"sernum_code\": null,\n        \"warehouseId\": 3649247,\n        \"repairOrderProductId\": 78870631\n      }\n    ],\n    \"is_refunded\": false,\n    \"discount\": {\n      \"type\": \"value\",\n      \"percentage\": 0,\n      \"amount\": \"0.00\",\n      \"sponsor\": \"staff\"\n    },\n    \"warranty\": {\n      \"period\": 0,\n      \"period_units\": \"days\"\n    },\n    \"taxes\": [\n      {\n        \"id\": 5628,\n        \"name\": \"State taxes\",\n        \"rate\": 10\n      }\n    ],\n    \"expiration_date\": null\n  },\n  {\n    \"id\": 78870632,\n    \"created_at\": \"2025-05-09T12:52:32Z\",\n    \"assignee_id\": 206039,\n    \"quantity\": \"1.000\",\n    \"price\": \"81.00\",\n    \"cost\": \"54.00000\",\n    \"margin_id\": null,\n    \"is_deduction_required\": false,\n    \"entity\": {\n      \"id\": 52110314,\n      \"type\": \"product\",\n      \"code\": \"\",\n      \"sku\": \"\",\n      \"sn_accounting\": false,\n      \"title\": \"Acer 23.KHJN2.002 SPEAKERs\",\n      \"image\": \"\",\n      \"thumbnail\": \"\",\n      \"uom\": {\n        \"id\": 1,\n        \"title\": \"pcs\",\n        \"description\": \"Pieces\"\n      },\n      \"is_hidden\": false\n    },\n    \"comment\": \"\",\n    \"write_offs\": [\n      {\n        \"cost\": 54,\n        \"cellId\": 3679564,\n        \"goodId\": 137183965,\n        \"quantity\": 1,\n        \"sernum_id\": null,\n        \"sernum_code\": null,\n        \"warehouseId\": 3649247,\n        \"repairOrderProductId\": 78870632\n      }\n    ],\n    \"is_refunded\": false,\n    \"discount\": {\n      \"type\": \"value\",\n      \"percentage\": 0,\n      \"amount\": \"0.00\",\n      \"sponsor\": \"staff\"\n    },\n    \"warranty\": {\n      \"period\": 0,\n      \"period_units\": \"days\"\n    },\n    \"taxes\": [\n      {\n        \"id\": 5628,\n        \"name\": \"State taxes\",\n        \"rate\": 10\n      }\n    ],\n    \"expiration_date\": null\n  }\n]"}},"schema":{"type":"array","items":{"type":"object","properties":{"id":{"type":"integer","example":78870627,"default":0},"created_at":{"type":"string","example":"2025-05-09T12:52:32Z"},"assignee_id":{"type":"integer","example":206039,"default":0},"quantity":{"type":"string","example":"1.000"},"price":{"type":"string","example":"20.00"},"cost":{"type":"string","example":"100.00000"},"margin_id":{},"is_deduction_required":{"type":"boolean","example":false,"default":true},"entity":{"type":"object","properties":{"id":{"type":"integer","example":38527538,"default":0},"type":{"type":"string","example":"service"},"code":{"type":"string","example":""},"sku":{"type":"string","example":""},"sn_accounting":{"type":"boolean","example":false,"default":true},"title":{"type":"string","example":"Diagnostics"},"image":{"type":"string","example":""},"thumbnail":{"type":"string","example":""},"uom":{"type":"object","properties":{"id":{"type":"integer","example":1,"default":0},"title":{"type":"string","example":"pcs"},"description":{"type":"string","example":"Pieces"}}},"is_hidden":{"type":"boolean","example":false,"default":true}}},"comment":{"type":"string","example":""},"write_offs":{},"is_refunded":{"type":"boolean","example":false,"default":true},"discount":{"type":"object","properties":{"type":{"type":"string","example":"value"},"percentage":{"type":"integer","example":0,"default":0},"amount":{"type":"string","example":"0.00"},"sponsor":{"type":"string","example":"staff"}}},"warranty":{"type":"object","properties":{"period":{"type":"integer","example":2,"default":0},"period_units":{"type":"string","example":"days"}}},"taxes":{"type":"array","items":{"type":"object","properties":{"id":{"type":"integer","example":5628,"default":0},"name":{"type":"string","example":"State taxes"},"rate":{"type":"integer","example":10,"default":0}}}},"expiration_date":{}}}}}}},"400":{"description":"400","content":{"application/json":{"examples":{"Result":{"value":"{}"}},"schema":{"type":"object","properties":{}}}}}},"deprecated":false},"post":{"summary":"Add Order Item","description":"Add a new item to the order.","operationId":"create-order-item","parameters":[{"name":"order_id","in":"path","description":"Order ID","schema":{"type":"integer","format":"int32"},"required":true}],"requestBody":{"content":{"application/json":{"schema":{"type":"object","required":["entity_id","assignee_id","quantity","price","cost","discount","warranty"],"properties":{"entity_id":{"type":"integer","description":"Product or Service ID","format":"int32"},"assignee_id":{"type":"integer","description":"Assigned Employee ID","format":"int32"},"quantity":{"type":"number","description":"Quantity","format":"float"},"price":{"type":"number","description":"Price per unit","format":"float"},"cost":{"type":"number","description":"Unit cost","format":"float"},"discount":{"type":"object","description":"Item discount object","required":["type","percentage","amount","sponsor"],"properties":{"type":{"type":"string","description":"Discount type. \"percentage\" — percent, \"value\" — absolute value.","default":"percentage","enum":["percentage","value"]},"percentage":{"type":"number","description":"Percentage value","default":0,"format":"float"},"amount":{"type":"number","default":0,"format":"float"},"sponsor":{"type":"string","description":"\"staff\" — Employee wages calculation is based on the amount after discount. This way the company discount decreases the piecework employee wages. \"company\" — Employee commissions will be calculated from amount before discount. This way the company discount won't affect the employee commissions.","default":"staff","enum":["staff","company"]}}},"warranty":{"type":"object","description":"Item warranty object","required":["period","periodUnits"],"properties":{"period":{"type":"string","description":"Warranty period","default":"0"},"periodUnits":{"type":"string","description":"Warranty unit of measure","default":"days","enum":["days","months"]}}},"tax_ids":{"type":"array","description":"Array of Tax ID","items":{"type":"integer","format":"int32"}},"comment":{"type":"string","description":"Comment text"}}}}}},"responses":{"200":{"description":"200","content":{"application/json":{"examples":{"Result":{"value":"{}"}},"schema":{"type":"object","properties":{}}}}},"400":{"description":"400","content":{"application/json":{"examples":{"Result":{"value":"{}"}},"schema":{"type":"object","properties":{}}}}}},"deprecated":false}},"/orders/{order_id}/items/{item_id}":{"patch":{"summary":"Update Order Item","description":"Update an existing item in the order.","operationId":"update-order-item","parameters":[{"name":"order_id","in":"path","description":"Order ID","schema":{"type":"integer","format":"int32"},"required":true},{"name":"item_id","in":"path","description":"Order Item ID","schema":{"type":"integer","format":"int32"},"required":true}],"requestBody":{"content":{"application/json":{"schema":{"type":"object","properties":{"assignee_id":{"type":"integer","description":"Assigned Employee ID","format":"int32"},"quantity":{"type":"number","description":"Quantity","format":"float"},"price":{"type":"number","description":"Price per unit","format":"float"},"cost":{"type":"number","description":"Unit cost","format":"float"},"discount":{"type":"object","description":"Item discount object","required":["type","percentage","amount","sponsor"],"properties":{"type":{"type":"string","description":"Discount type. \"percentage\" — percent, \"value\" — absolute value.","default":"percentage","enum":["percentage","value"]},"percentage":{"type":"number","description":"Percentage value","default":0,"format":"float"},"amount":{"type":"number","default":0,"format":"float"},"sponsor":{"type":"string","description":"\"staff\" — Employee wages calculation is based on the amount after discount. This way the company discount decreases the piecework employee wages. \"company\" — Employee commissions will be calculated from amount before discount. This way the company discount won't affect the employee commissions.","default":"staff","enum":["staff","company"]}}},"warranty":{"type":"object","description":"Item warranty object","required":["period","periodUnits"],"properties":{"period":{"type":"string","description":"Warranty period","default":"0"},"periodUnits":{"type":"string","description":"Warranty unit of measure","default":"days","enum":["days","months"]}}},"tax_ids":{"type":"array","description":"Array of Tax ID","items":{"type":"integer","format":"int32"}},"comment":{"type":"string","description":"Comment text"}}}}}},"responses":{"200":{"description":"200","content":{"application/json":{"examples":{"Result":{"value":"{}"}},"schema":{"type":"object","properties":{}}}}},"400":{"description":"400","content":{"application/json":{"examples":{"Result":{"value":"{}"}},"schema":{"type":"object","properties":{}}}}}},"deprecated":false}},"/orders/{order_id}/status":{"post":{"summary":"Update Order Status","description":"Update the status of a specific order.","operationId":"update-order-status","parameters":[{"name":"order_id","in":"path","description":"Order ID","schema":{"type":"integer","format":"int32"},"required":true}],"requestBody":{"content":{"application/json":{"schema":{"type":"object","required":["status_id"],"properties":{"status_id":{"type":"integer","description":"Status ID","format":"int32"},"comment":{"type":"string","description":"Status comment"}}}}}},"responses":{"200":{"description":"200","content":{"application/json":{"examples":{"Result":{"value":"{}"}},"schema":{"type":"object","properties":{}}}}},"400":{"description":"400","content":{"application/json":{"examples":{"Result":{"value":"{}"}},"schema":{"type":"object","properties":{}}}}}},"deprecated":false}},"/orders/{order_id}/comments":{"post":{"summary":"Create Order Comment","description":"Add a comment to a specific order.","operationId":"create-order-comment","parameters":[{"name":"order_id","in":"path","description":"Order ID","schema":{"type":"integer","format":"int32"},"required":true}],"requestBody":{"content":{"application/json":{"schema":{"type":"object","required":["comment"],"properties":{"comment":{"type":"string","description":"Comment text"},"is_private":{"type":"boolean","description":"Is this comment private?"}}}}}},"responses":{"200":{"description":"200","content":{"application/json":{"examples":{"Result":{"value":"{}"}},"schema":{"type":"object","properties":{}}}}},"400":{"description":"400","content":{"application/json":{"examples":{"Result":{"value":"{}"}},"schema":{"type":"object","properties":{}}}}}},"deprecated":false}},"/orders/{order_id}/public-url":{"get":{"summary":"Get Order Public Page Url","description":"Retrieve a shareable public link to view the order.","operationId":"get-order-public-page-url","parameters":[{"name":"order_id","in":"path","description":"Order ID","schema":{"type":"integer","format":"int32"},"required":true}],"responses":{"200":{"description":"200","content":{"application/json":{"examples":{"Result":{"value":""}}}}},"400":{"description":"400","content":{"application/json":{"examples":{"Result":{"value":""}}}}}},"deprecated":false}},"/orders/statuses":{"get":{"summary":"Get Order Statuses","description":"Retrieve a list of all possible statuses that can be assigned to an order.","operationId":"get-order-statuses","responses":{"200":{"description":"200","content":{"application/json":{"examples":{"Result":{"value":"{}"}},"schema":{"type":"object","properties":{}}}}},"400":{"description":"400","content":{"application/json":{"examples":{"Result":{"value":"{}"}},"schema":{"type":"object","properties":{}}}}}},"deprecated":false}},"/orders/types":{"get":{"summary":"Get Order Types","description":"","operationId":"get-order-types","responses":{"200":{"description":"200","content":{"application/json":{"examples":{"Result":{"value":"{}"}},"schema":{"type":"object","properties":{}}}}},"400":{"description":"400","content":{"application/json":{"examples":{"Result":{"value":"{}"}},"schema":{"type":"object","properties":{}}}}}},"deprecated":false}},"/orders/custom-fields":{"get":{"summary":"Get Order Custom Fields","description":"","operationId":"get-order-custom-fields","responses":{"200":{"description":"200","content":{"application/json":{"examples":{"Result":{"value":"{}"}},"schema":{"type":"object","properties":{}}}}},"400":{"description":"400","content":{"application/json":{"examples":{"Result":{"value":"{}"}},"schema":{"type":"object","properties":{}}}}}},"deprecated":false}},"/cashbox/":{},"/cashbox/report/{cashbox_id}":{},"/cashflowitems":{},"/cashbox/{cashbox_id}/payment":{},"/invoices":{"get":{"summary":"Get Invoices","description":"Retrieve a list of invoices.","operationId":"get-invoices","parameters":[{"name":"page","in":"query","description":"Page number","schema":{"type":"integer","format":"int32","default":1}},{"name":"legal_entity_id","in":"query","description":"Legal entity ID","schema":{"type":"integer","format":"int32"}},{"name":"ids","in":"query","description":"List of Invoice IDs","schema":{"type":"array","items":{"type":"integer","format":"int32"}}},{"name":"numbers","in":"query","description":"List of Invoice document numbers","schema":{"type":"array","items":{"type":"string"}}},{"name":"payment_method","in":"query","description":"Invoice payment method","schema":{"type":"string","enum":["cash","cashless","credit_card"]}},{"name":"statuses","in":"query","description":"List of Invoice status IDs","schema":{"type":"array","items":{"type":"integer","format":"int32"}}},{"name":"client_ids","in":"query","description":"List of Client (Person / Organization) IDs","schema":{"type":"array","items":{"type":"integer","format":"int32"}}},{"name":"payer_ids","in":"query","description":"List of Payer IDs","schema":{"type":"array","items":{"type":"integer","format":"int32"}}},{"name":"managers","in":"query","description":"List of Manager IDs","schema":{"type":"array","items":{"type":"integer","format":"int32"}}},{"name":"created_at","in":"query","description":"Filter by creation date. Accepts an array with one or two ISO 8601 date-time values. If one value is provided, it represents the start (left) boundary. If two values are provided, they define a date range (start and end). Examples: [\"2025-05-01T00:00:00Z\"] — filter from May 1, 2025 onward. [\"2025-05-01T00:00:00Z\", \"2025-05-02T00:00:00Z\"] — filter between May 1 and May 2, 2025.","schema":{"type":"array","items":{"type":"string","format":"date"}}},{"name":"modified_at","in":"query","description":"Filter by modification date. Accepts an array with one or two ISO 8601 date-time values. If one value is provided, it represents the start (left) boundary. If two values are provided, they define a date range (start and end). Examples: [\"2025-05-01T00:00:00Z\"] — filter from May 1, 2025 onward. [\"2025-05-01T00:00:00Z\", \"2025-05-02T00:00:00Z\"] — filter between May 1 and May 2, 2025.","schema":{"type":"array","items":{"type":"string","format":"date"}}},{"name":"issue_date","in":"query","description":"Filter by date of issue. Accepts an array with one or two ISO 8601 date-time values. If one value is provided, it represents the start (left) boundary. If two values are provided, they define a date range (start and end). Examples: [\"2025-05-01T00:00:00Z\"] — filter from May 1, 2025 onward. [\"2025-05-01T00:00:00Z\", \"2025-05-02T00:00:00Z\"] — filter between May 1 and May 2, 2025.","schema":{"type":"array","items":{"type":"string","format":"date"}}},{"name":"due_date","in":"query","description":"Filter by due date. Accepts an array with one or two ISO 8601 date-time values. If one value is provided, it represents the start (left) boundary. If two values are provided, they define a date range (start and end). Examples: [\"2025-05-01T00:00:00Z\"] — filter from May 1, 2025 onward. [\"2025-05-01T00:00:00Z\", \"2025-05-02T00:00:00Z\"] — filter between May 1 and May 2, 2025.","schema":{"type":"array","items":{"type":"string","format":"date"}}},{"name":"sort","in":"query","description":"Defines the sorting order of returned results. Use a field name to sort ascending or prefix it with a minus sign (-) to sort descending.","schema":{"type":"string","enum":["id","-id"]}}],"responses":{"200":{"description":"200","content":{"application/json":{"examples":{"Result":{"value":"{\n  \"data\": [\n    {\n      \"id\": 309859,\n      \"id_label\": \"023\",\n      \"client\": {\n        \"id\": 31152179,\n        \"name\": \"Chris Jules\",\n        \"first_name\": \"Chris\",\n        \"last_name\": \"Jules\",\n        \"email\": \"chrissy_jules14@gmail.com\",\n        \"phone\": [\n          \"4487645389\"\n        ],\n        \"notes\": \"\",\n        \"address\": \"\",\n        \"supplier\": false,\n        \"juridical\": false,\n        \"conflicted\": false,\n        \"modified_at\": 1734549792000,\n        \"created_at\": 1714652929000,\n        \"discount_code\": \"\",\n        \"discount_goods\": 0,\n        \"order_discount_services\": 5,\n        \"sale_discount_services\": 5,\n        \"discount_materials\": 0,\n        \"custom_fields\": {\n          \"f7757287\": 968112000000\n        },\n        \"ad_campaign\": {\n          \"id\": 349683,\n          \"name\": \"Friend\"\n        }\n      },\n      \"payer\": {\n        \"id\": 31152179,\n        \"name\": \"Chris Jules\",\n        \"first_name\": \"Chris\",\n        \"last_name\": \"Jules\",\n        \"email\": \"chrissy_jules14@gmail.com\",\n        \"phone\": [\n          \"4487645389\"\n        ],\n        \"notes\": \"\",\n        \"address\": \"\",\n        \"supplier\": false,\n        \"juridical\": false,\n        \"conflicted\": false,\n        \"modified_at\": 1734549792000,\n        \"created_at\": 1714652929000,\n        \"discount_code\": \"\",\n        \"discount_goods\": 0,\n        \"order_discount_services\": 5,\n        \"sale_discount_services\": 5,\n        \"discount_materials\": 0,\n        \"custom_fields\": {\n          \"f7757287\": 968112000000\n        },\n        \"ad_campaign\": {\n          \"id\": 349683,\n          \"name\": \"Friend\"\n        }\n      },\n      \"status\": 0,\n      \"status_full\": {\n        \"id\": 3319497,\n        \"name\": \"Paid\",\n        \"color\": \"#5CB85C\",\n        \"group\": 10\n      },\n      \"created_at\": 1740480923000,\n      \"issue_date\": 1740480920000,\n      \"due_date\": 1743072920000,\n      \"payment_type\": 0,\n      \"products\": [\n        {\n          \"amount\": 1,\n          \"id\": 2847134,\n          \"order_id\": 52100568,\n          \"price\": 47.5,\n          \"title\": \"Delivery\",\n          \"uom_id\": 1,\n          \"type\": 2,\n          \"service\": true,\n          \"warranty\": 0,\n          \"warranty_period\": 0\n        },\n        {\n          \"amount\": 1,\n          \"id\": 2847135,\n          \"order_id\": 52100586,\n          \"price\": 121.6,\n          \"title\": \"SSD replacement\",\n          \"uom_id\": 1,\n          \"type\": 2,\n          \"service\": true,\n          \"warranty\": 3,\n          \"warranty_period\": 1\n        },\n        {\n          \"amount\": 1,\n          \"id\": 2847136,\n          \"order_id\": 52100596,\n          \"price\": 47.5,\n          \"title\": \"Battery service \",\n          \"uom_id\": 1,\n          \"type\": 3,\n          \"service\": true,\n          \"warranty\": 0,\n          \"warranty_period\": 0\n        }\n      ],\n      \"manager_id\": 206037\n    },\n    {\n      \"id\": 309847,\n      \"id_label\": \"022\",\n      \"client\": {\n        \"id\": 31905896,\n        \"name\": \"Tanya\",\n        \"first_name\": \"Tanya\",\n        \"last_name\": \"\",\n        \"email\": \"t.baczynska@orderry.com\",\n        \"phone\": [],\n        \"notes\": \"\",\n        \"address\": \"\",\n        \"supplier\": false,\n        \"juridical\": false,\n        \"conflicted\": false,\n        \"modified_at\": 1721990430000,\n        \"created_at\": 1721990430000,\n        \"discount_code\": \"\",\n        \"discount_goods\": 0,\n        \"order_discount_services\": 0,\n        \"sale_discount_services\": 0,\n        \"discount_materials\": 0,\n        \"custom_fields\": {},\n        \"ad_campaign\": {\n          \"id\": 396022,\n          \"name\": \"Google Map\"\n        }\n      },\n      \"payer\": {\n        \"id\": 31905896,\n        \"name\": \"Tanya\",\n        \"first_name\": \"Tanya\",\n        \"last_name\": \"\",\n        \"email\": \"t.baczynska@orderry.com\",\n        \"phone\": [],\n        \"notes\": \"\",\n        \"address\": \"\",\n        \"supplier\": false,\n        \"juridical\": false,\n        \"conflicted\": false,\n        \"modified_at\": 1721990430000,\n        \"created_at\": 1721990430000,\n        \"discount_code\": \"\",\n        \"discount_goods\": 0,\n        \"order_discount_services\": 0,\n        \"sale_discount_services\": 0,\n        \"discount_materials\": 0,\n        \"custom_fields\": {},\n        \"ad_campaign\": {\n          \"id\": 396022,\n          \"name\": \"Google Map\"\n        }\n      },\n      \"status\": 0,\n      \"status_full\": {\n        \"id\": 3319497,\n        \"name\": \"Paid\",\n        \"color\": \"#5CB85C\",\n        \"group\": 10\n      },\n      \"created_at\": 1740479799000,\n      \"issue_date\": 1740479789000,\n      \"due_date\": 1743071789000,\n      \"payment_type\": 0,\n      \"products\": [\n        {\n          \"amount\": 1,\n          \"id\": 2847060,\n          \"order_id\": 52100024,\n          \"price\": 50,\n          \"title\": \"Delivery\",\n          \"uom_id\": 1,\n          \"type\": 2,\n          \"service\": true,\n          \"warranty\": 0,\n          \"warranty_period\": 0\n        }\n      ],\n      \"manager_id\": 206037\n    },\n    {\n      \"id\": 309845,\n      \"id_label\": \"021\",\n      \"client\": {\n        \"id\": 33775229,\n        \"name\": \"Jerry Hallman\",\n        \"first_name\": \"Jerry\",\n        \"last_name\": \"Hallman\",\n        \"email\": \"jerry_jay1987@gmail.com\",\n        \"phone\": [\n          \"442345674567\"\n        ],\n        \"notes\": \"\",\n        \"address\": \"\",\n        \"supplier\": false,\n        \"juridical\": false,\n        \"conflicted\": false,\n        \"modified_at\": 1740474841000,\n        \"created_at\": 1740474841000,\n        \"discount_code\": \"\",\n        \"discount_goods\": 0,\n        \"order_discount_services\": 0,\n        \"sale_discount_services\": 0,\n        \"discount_materials\": 0,\n        \"custom_fields\": {},\n        \"ad_campaign\": {}\n      },\n      \"payer\": {\n        \"id\": 33775229,\n        \"name\": \"Jerry Hallman\",\n        \"first_name\": \"Jerry\",\n        \"last_name\": \"Hallman\",\n        \"email\": \"jerry_jay1987@gmail.com\",\n        \"phone\": [\n          \"442345674567\"\n        ],\n        \"notes\": \"\",\n        \"address\": \"\",\n        \"supplier\": false,\n        \"juridical\": false,\n        \"conflicted\": false,\n        \"modified_at\": 1740474841000,\n        \"created_at\": 1740474841000,\n        \"discount_code\": \"\",\n        \"discount_goods\": 0,\n        \"order_discount_services\": 0,\n        \"sale_discount_services\": 0,\n        \"discount_materials\": 0,\n        \"custom_fields\": {},\n        \"ad_campaign\": {}\n      },\n      \"status\": 0,\n      \"status_full\": {\n        \"id\": 3319497,\n        \"name\": \"Paid\",\n        \"color\": \"#5CB85C\",\n        \"group\": 10\n      },\n      \"created_at\": 1740479400000,\n      \"issue_date\": 1740479398000,\n      \"due_date\": 1743071398000,\n      \"payment_type\": 0,\n      \"products\": [\n        {\n          \"amount\": 1,\n          \"id\": 2847057,\n          \"order_id\": 52099829,\n          \"price\": 20,\n          \"title\": \"Engine filter replacement\",\n          \"uom_id\": 1,\n          \"type\": 3,\n          \"service\": true,\n          \"warranty\": 0,\n          \"warranty_period\": 0\n        }\n      ],\n      \"manager_id\": 206037\n    },\n    {\n      \"id\": 309844,\n      \"id_label\": \"020\",\n      \"client\": {\n        \"id\": 31152179,\n        \"name\": \"Chris Jules\",\n        \"first_name\": \"Chris\",\n        \"last_name\": \"Jules\",\n        \"email\": \"chrissy_jules14@gmail.com\",\n        \"phone\": [\n          \"4487645389\"\n        ],\n        \"notes\": \"\",\n        \"address\": \"\",\n        \"supplier\": false,\n        \"juridical\": false,\n        \"conflicted\": false,\n        \"modified_at\": 1734549792000,\n        \"created_at\": 1714652929000,\n        \"discount_code\": \"\",\n        \"discount_goods\": 0,\n        \"order_discount_services\": 5,\n        \"sale_discount_services\": 5,\n        \"discount_materials\": 0,\n        \"custom_fields\": {\n          \"f7757287\": 968112000000\n        },\n        \"ad_campaign\": {\n          \"id\": 349683,\n          \"name\": \"Friend\"\n        }\n      },\n      \"payer\": {\n        \"id\": 31152179,\n        \"name\": \"Chris Jules\",\n        \"first_name\": \"Chris\",\n        \"last_name\": \"Jules\",\n        \"email\": \"chrissy_jules14@gmail.com\",\n        \"phone\": [\n          \"4487645389\"\n        ],\n        \"notes\": \"\",\n        \"address\": \"\",\n        \"supplier\": false,\n        \"juridical\": false,\n        \"conflicted\": false,\n        \"modified_at\": 1734549792000,\n        \"created_at\": 1714652929000,\n        \"discount_code\": \"\",\n        \"discount_goods\": 0,\n        \"order_discount_services\": 5,\n        \"sale_discount_services\": 5,\n        \"discount_materials\": 0,\n        \"custom_fields\": {\n          \"f7757287\": 968112000000\n        },\n        \"ad_campaign\": {\n          \"id\": 349683,\n          \"name\": \"Friend\"\n        }\n      },\n      \"status\": 0,\n      \"status_full\": {\n        \"id\": 3319495,\n        \"name\": \"Draft\",\n        \"color\": \"#1E79C7\",\n        \"group\": 8\n      },\n      \"created_at\": 1740479325000,\n      \"issue_date\": 1740479321000,\n      \"due_date\": 1743071321000,\n      \"payment_type\": 0,\n      \"products\": [\n        {\n          \"amount\": 1,\n          \"id\": 2847056,\n          \"order_id\": 52099796,\n          \"price\": 76,\n          \"title\": \"Windows 10 eng reload, software, backup\",\n          \"uom_id\": 1,\n          \"type\": 2,\n          \"service\": true,\n          \"warranty\": 30,\n          \"warranty_period\": 0\n        }\n      ],\n      \"manager_id\": 206037\n    },\n    {\n      \"id\": 309649,\n      \"id_label\": \"019\",\n      \"client\": {\n        \"id\": 29071649,\n        \"name\": \"Marie\",\n        \"first_name\": \"Marie\",\n        \"last_name\": \"\",\n        \"email\": \"\",\n        \"phone\": [\n          \"48555974513\"\n        ],\n        \"notes\": \"\",\n        \"address\": \"\",\n        \"supplier\": false,\n        \"juridical\": false,\n        \"conflicted\": false,\n        \"modified_at\": 1695729580000,\n        \"created_at\": 1695729580000,\n        \"discount_code\": \"\",\n        \"custom_fields\": {},\n        \"ad_campaign\": {\n          \"id\": 349685,\n          \"name\": \"Google Search\"\n        }\n      },\n      \"payer\": {\n        \"id\": 29071649,\n        \"name\": \"Marie\",\n        \"first_name\": \"Marie\",\n        \"last_name\": \"\",\n        \"email\": \"\",\n        \"phone\": [\n          \"48555974513\"\n        ],\n        \"notes\": \"\",\n        \"address\": \"\",\n        \"supplier\": false,\n        \"juridical\": false,\n        \"conflicted\": false,\n        \"modified_at\": 1695729580000,\n        \"created_at\": 1695729580000,\n        \"discount_code\": \"\",\n        \"custom_fields\": {},\n        \"ad_campaign\": {\n          \"id\": 349685,\n          \"name\": \"Google Search\"\n        }\n      },\n      \"status\": 0,\n      \"status_full\": {\n        \"id\": 3319497,\n        \"name\": \"Paid\",\n        \"color\": \"#5CB85C\",\n        \"group\": 10\n      },\n      \"created_at\": 1740414531000,\n      \"issue_date\": 17404
[...]
